<H3>PROJECT PROPOSAL</H3>

<h1> Relationship Between Gender and Mean Age of Football Olympic Medalists</h1>

<h2>INTRODUCTION</h2>

The aim of this project is to analyze the historical data of Olympic athletes and their performance in various events. The data source for this project is the Kaggle dataset <a href = "https://www.kaggle.com/datasets/heesoo37/120-years-of-olympic-history-athletes-and-results">“120 years of Olympic history: athletes and results”</a>, which was obtained from the <a href = " https://www.sports-reference.com/">Sports Reference</a> retrived on 04/11/2022.

The dataset consists of 271116 records, each representing an individual athlete who participated in an Olympic event. The dataset has 15 attributes, namely ID, Name, Sex, Age, Height, Weight, Team, NOC, Games, Year, Season, City, Sport, Event, and Medal. The dataset covers the period from 1896 to 2016 and includes both summer and winter Olympics.

In our Research Question we'll be investigating whether gender has any effect on the mean age of Olympic athletes who won some medal in Football from the year 1900 onwards.

We were interested in this research question as, a study shows negative relationship between age and athletes performance in olympics.

<h2>PRELIMENARY RESULTS</h2>

We downloaded the dataset from : 
https://www.kaggle.com/datasets/heesoo37/120-years-of-olympic-history-athletes-and-results 

It was then saved in the ```data/``` in our main github repository

We installed & loaded all the libraries that we might need to pre-process and visualise the dataset.

<h4>Install packages on R kernel</h4>

Run once to install packages before loading them on the notebook

In [1]:
install.packages('cowplot')
install.packages("devtools")
devtools::install_github("UBC-MDS/datateachr")
library(datateachr)
library(tidyverse)
devtools::install_github("UBC-MDS/taxyvr", build_vignettes = TRUE)
library(taxyvr)
install.packages('infer', dependencies = TRUE)

Installing package into ‘/home/jupyter/R/x86_64-pc-linux-gnu-library/4.3’
(as ‘lib’ is unspecified)

Installing package into ‘/home/jupyter/R/x86_64-pc-linux-gnu-library/4.3’
(as ‘lib’ is unspecified)

Skipping install of 'datateachr' from a github remote, the SHA1 (78d391f4) has not changed since last install.
  Use `force = TRUE` to force installation

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.3     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.2     ✔ tibble    3.2.1
✔ lubridate 1.9.2     ✔ tidyr     1.3.0
✔ purrr     1.0.1
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors
Skipping install of 'taxyvr' from a github remote, the SHA1 (227a8d8f) has not changed since last install.
  Use `force = TRUE` to force installation

Installing package into ‘/home/jupyter/R/x86_64-pc-linux-gnu-library/4.3’
(as ‘lib’ is unspecified)

<h4>Loading necessary libraries</h4>

In [2]:
library(cowplot)
library(datateachr)
library(dplyr)
library(digest)
library(infer)
library(repr)
library(taxyvr)
library(tidyverse)
library(ggplot2)
options(repr.matrix.max.rows = 6)

Attaching package: ‘cowplot’


The following object is masked from ‘package:lubridate’:

    stamp

<H3>Dataset</H3>

In [11]:
data <- read_csv("data/athlete_events.csv")
head(data)
spec(data)

Rows: 271116 Columns: 15
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (10): Name, Sex, Team, NOC, Games, Season, City, Sport, Event, Medal
dbl  (5): ID, Age, Height, Weight, Year

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  ID Name                     Sex Age Height Weight Team           NOC
1 1  A Dijiang                M   24  180    80     China          CHN
2 2  A Lamusi                 M   23  170    60     China          CHN
3 3  Gunnar Nielsen Aaby      M   24   NA    NA     Denmark        DEN
4 4  Edgar Lindenau Aabye     M   34   NA    NA     Denmark/Sweden DEN
5 5  Christine Jacoba Aaftink F   21  185    82     Netherlands    NED
6 5  Christine Jacoba Aaftink F   21  185    82     Netherlands    NED
  Games       Year Season City      Sport
1 1992 Summer 1992 Summer Barcelona Basketball
2 2012 Summer 2012 Summer London    Judo
3 1920 Summer 1920 Summer Antwerpen Football
4 1900 Summer 1900 Summer Paris     Tug-Of-War
5 1988 Winter 1988 Winter Calgary   Speed Skating
6 1988 Winter 1988 Winter Calgary   Speed Skating
  Event                              Medal
1 Basketball Men's Basketball        NA
2 Judo Men's Extra-Lightweight       NA
3 Football Men's Football            NA
4 Tug-Of-War Men's Tug-Of-War        Gold
5 Speed Skating Women's 500 metres   NA
6 Speed Skating Women's 1,000 metres NA

cols(
  ID = col_double(),
  Name = col_character(),
  Sex = col_character(),
  Age = col_double(),
  Height = col_double(),
  Weight = col_double(),
  Team = col_character(),
  NOC = col_character(),
  Games = col_character(),
  Year = col_double(),
  Season = col_character(),
  City = col_character(),
  Sport = col_character(),
  Event = col_character(),
  Medal = col_character()
)

Accessing Proportion Football

<H2>Methods: Plan </H2>

<H2>References</H2>